include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/customizer *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/customizer/migration *.ini *.py *.mako
